:root {
  --purse-inactive: #e5e7eb;
  --purse-active: #006ae6;

  --multiple-circle1: rgba(59, 130, 246);
  --multiple-circle2: rgba(59, 130, 246, 0.7);
  --multiple-circle3: rgba(59, 130, 246, 0.5);
  --multiple-background: rgba(0, 0, 0, 0.2);
}

:root.dark {
  --multiple-background: rgba(255, 255, 255, 0.8);
}

/* Auto slide animation */
@keyframes auto-slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-8 * (240px + 16px)), 0, 0);
  }
}

/* Text background animtion */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Spin loading */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pulse loading */
@keyframes shadowPulse {
  0% {
    background: var(--purse-inactive);
    box-shadow:
      -24px 0 var(--purse-inactive),
      24px 0 var(--purse-inactive);
  }

  33% {
    background: var(--purse-inactive);
    box-shadow:
      -24px 0 var(--purse-active),
      24px 0 var(--purse-inactive);
  }
  66% {
    background: var(--purse-active);
    box-shadow:
      -24px 0 var(--purse-inactive),
      24px 0 var(--purse-inactive);
  }
  100% {
    background: var(--purse-inactive);
    box-shadow:
      -24px 0 var(--purse-inactive),
      24px 0 var(--purse-active);
  }
}

/* multiple circle loading */
@keyframes multipleCircle {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-circle1),
      1.8em -1.8em 0 0em var(--multiple-background),
      2.5em 0em 0 0em var(--multiple-background),
      1.75em 1.75em 0 0em var(--multiple-background),
      0em 2.5em 0 0em var(--multiple-background),
      -1.8em 1.8em 0 0em var(--multiple-background),
      -2.6em 0em 0 0em var(--multiple-circle3),
      -1.8em -1.8em 0 0em var(--multiple-circle2);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-circle2),
      1.8em -1.8em 0 0em var(--multiple-circle1),
      2.5em 0em 0 0em var(--multiple-background),
      1.75em 1.75em 0 0em var(--multiple-background),
      0em 2.5em 0 0em var(--multiple-background),
      -1.8em 1.8em 0 0em var(--multiple-background),
      -2.6em 0em 0 0em var(--multiple-background),
      -1.8em -1.8em 0 0em var(--multiple-circle3);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-circle3),
      1.8em -1.8em 0 0em var(--multiple-circle2),
      2.5em 0em 0 0em var(--multiple-circle1),
      1.75em 1.75em 0 0em var(--multiple-background),
      0em 2.5em 0 0em var(--multiple-background),
      -1.8em 1.8em 0 0em var(--multiple-background),
      -2.6em 0em 0 0em var(--multiple-background),
      -1.8em -1.8em 0 0em var(--multiple-background);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-background),
      1.8em -1.8em 0 0em var(--multiple-circle3),
      2.5em 0em 0 0em var(--multiple-circle2),
      1.75em 1.75em 0 0em var(--multiple-circle1),
      0em 2.5em 0 0em var(--multiple-background),
      -1.8em 1.8em 0 0em var(--multiple-background),
      -2.6em 0em 0 0em var(--multiple-background),
      -1.8em -1.8em 0 0em var(--multiple-background);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-background),
      1.8em -1.8em 0 0em var(--multiple-background),
      2.5em 0em 0 0em var(--multiple-circle3),
      1.75em 1.75em 0 0em var(--multiple-circle2),
      0em 2.5em 0 0em var(--multiple-circle1),
      -1.8em 1.8em 0 0em var(--multiple-background),
      -2.6em 0em 0 0em var(--multiple-background),
      -1.8em -1.8em 0 0em var(--multiple-background);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-background),
      1.8em -1.8em 0 0em var(--multiple-background),
      2.5em 0em 0 0em var(--multiple-background),
      1.75em 1.75em 0 0em var(--multiple-circle3),
      0em 2.5em 0 0em var(--multiple-circle2),
      -1.8em 1.8em 0 0em var(--multiple-circle1),
      -2.6em 0em 0 0em var(--multiple-background),
      -1.8em -1.8em 0 0em var(--multiple-background);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-background),
      1.8em -1.8em 0 0em var(--multiple-background),
      2.5em 0em 0 0em var(--multiple-background),
      1.75em 1.75em 0 0em var(--multiple-background),
      0em 2.5em 0 0em var(--multiple-circle3),
      -1.8em 1.8em 0 0em var(--multiple-circle2),
      -2.6em 0em 0 0em var(--multiple-circle1),
      -1.8em -1.8em 0 0em var(--multiple-background);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em var(--multiple-background),
      1.8em -1.8em 0 0em var(--multiple-background),
      2.5em 0em 0 0em var(--multiple-background),
      1.75em 1.75em 0 0em var(--multiple-background),
      0em 2.5em 0 0em var(--multiple-background),
      -1.8em 1.8em 0 0em var(--multiple-circle3),
      -2.6em 0em 0 0em var(--multiple-circle2),
      -1.8em -1.8em 0 0em var(--multiple-circle1);
  }
}
