.pagination {
  --pagination-selected: #a855f7;

  display: flex;
  gap: 8px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px;

    font: 14px;
    font-weight: bold;

    svg {
      flex-shrink: 0;
    }
  }

  li.selected {
    a {
      border: 1px solid var(--pagination-selected);
      background-color: var(--pagination-selected);
      color: #fff;
    }
  }
}
