.popper {
  --arrow-background: #fff;
  --arrow-border: #9ca3af;

  // top
  &[data-popper-placement^='top'] > .popper-arrow {
    bottom: -8px;

    &::before,
    &::after {
      border-bottom: 0;
    }

    /* 배경 */
    &::before {
      bottom: 1.414px;
      border-color: var(--arrow-background) transparent transparent transparent;
      z-index: 10;
    }
    /* 테두리 */
    &::after {
      bottom: 0;
      border-color: var(--arrow-border) transparent transparent transparent;
      z-index: 9;
    }
  }

  // bottom
  &[data-popper-placement^='bottom'] > .popper-arrow {
    top: -8px;

    &::before,
    &::after {
      border-top: 0;
    }

    /* 배경 */
    &::before {
      top: 1.414px;
      border-color: transparent transparent var(--arrow-background) transparent;
      z-index: 10;
    }
    /* 테두리 */
    &::after {
      top: 0;
      border-color: transparent transparent var(--arrow-border) transparent;
      z-index: 9;
    }
  }

  // left
  &[data-popper-placement^='left'] > .popper-arrow {
    right: -8px;

    &::before,
    &::after {
      border-right: 0;
    }

    /* 배경 */
    &::before {
      right: 1.414px;
      border-color: transparent transparent transparent var(--arrow-background);
      z-index: 10;
    }
    /* 테두리 */
    &::after {
      right: 0;
      border-color: transparent transparent transparent var(--arrow-border);
      z-index: 9;
    }
  }

  // right
  &[data-popper-placement^='right'] > .popper-arrow {
    left: -8px;

    &::before,
    &::after {
      border-left: 0;
    }

    /* 배경 */
    &::before {
      left: 1.414px;
      border-color: transparent var(--arrow-background) transparent transparent;
      z-index: 10;
    }
    /* 테두리 */
    &::after {
      left: 0;
      border-color: transparent var(--arrow-border) transparent transparent;
      z-index: 9;
    }
  }
}

.popper-arrow {
  position: relative;
  width: 16px;
  height: 8px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    border-width: 8px;
    border-style: solid;
  }
}
