.datepicker {
  --dp-accent-color: #2f80ed; // 선택된 날짜의 배경 색상
  --dp-selected-color: #fff; // 선택된 날짜의 텍스트 색상
  --dp-background-color: #e7edff; // 호버 및 포커스 시 배경 색상
  --dp-disabled-color: #ccc; // 선택 불가능한 날짜 색상
  --dp-cell-size: 32px; // 셀의 크기 (요일 및 날짜)
  --dp-caption-height: 30px; // 네비게이션 버튼 및 캡션(연/월)의 높이
  --dp-outline: 2px solid var(--rdp-accent-color); // 포커스 시 아웃라인(키보드 포커스)
  --dp-sunday: red;
  --dp-saturday: blue;
}

/* ********************** 인풋 컨테이너 **********************  */
.react-datepicker__input-container {
  .custom-input-container {
    /* ------------ */
    /* 커스텀 영역  */
    /* ------------ */
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 15px;

    &.hasValue {
      padding-right: 0;
    }
  }

  /* ------------ */
  /* 커스텀 영역  */
  /* ------------ */
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;

  input {
    min-width: 0;
    width: 100%;
    cursor: pointer;

    /* ------------ */
    /* 커스텀 영역  */
    /* ------------ */
    color: #333;
    font-size: 15px;
    line-height: normal;

    &::placeholder {
      color: #bbb;
      font-size: 15px;
      line-height: normal;
    }
  }

  svg {
    flex-shrink: 0;
  }

  .react-datepicker__close-icon {
    content: url('/src/assets/icons/clear.svg');
    display: flex;
    justify-content: center;
    align-items: center;

    /* ------------ */
    /* 커스텀 영역  */
    /* ------------ */
    margin-right: 15px;
  }
}

/* ********************** 팝업과 인풋간의 거리 조절 **********************  */
.react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 8px;
}

/* ********************** 달력 컨테이너 **********************  */
.react-datepicker {
  position: relative;

  /* ------------ */
  /* 커스텀 영역  */
  /* ------------ */
  width: 250px; // 너비를 고정시켜야 할 경우
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  background: #fff;
}

/* ********************** 팝업 컨테이너 위에 달린 삼각형 **********************  */
// .react-datepicker__triangle {
//   // Todo: Diamond
// }

/* ********************** 네비게이션 버튼 **********************  */
button.react-datepicker__navigation {
  position: absolute;
  width: var(--dp-caption-height);
  height: var(--dp-caption-height);

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    path {
      fill: #000;
    }
  }
}
button.react-datepicker__navigation--previous {
  top: 10px;
  left: 10px;
}
button.react-datepicker__navigation--next {
  top: 10px;
  right: 10px;
}

.react-datepicker__aria-live {
  display: none;
}

/* ********************** 연/월 **********************  */
.react-datepicker__current-month {
  height: var(--dp-caption-height);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

/* ********************** 요일 컨테이너 **********************  */
.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .react-datepicker__day-name {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: var(--dp-cell-size);
    aspect-ratio: 1 / 1;

    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }

  // 일요일
  .react-datepicker__day-name:first-of-type {
    color: var(--dp-sunday);
  }
  // 토요일
  .react-datepicker__day-name:last-of-type {
    color: var(--dp-saturday);
  }
}

/* ********************** 주(row) **********************  */
.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* ********************** 날짜 **********************  */
.react-datepicker__day {
  // height: var(--dp-cell-size);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #333;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

// 키보드로 포커스가 잡혔을 경우
.react-datepicker__day:focus-visible {
  &:not(
      .react-datepicker__day--selected,
      .react-datepicker__day--in-range,
      .react-datepicker__day--range-end
    ) {
    background-color: var(--dp-background-color);
    border: var(--dp-outline);
  }
}

.react-datepicker__day:hover {
  &:not(
      .react-datepicker__day--selected,
      .react-datepicker__day--disabled,
      .react-datepicker__day--range-start,
      .react-datepicker__day--in-range,
      .react-datepicker__day--range-end,
      .react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start,
      .react-datepicker__day--selecting-range-end
    ) {
    background-color: var(--dp-background-color);
  }
}

/* ********************** 주말 색상 **********************  */
.react-datepicker__day--weekend:first-of-type {
  &:not(
      .react-datepicker__day--selected,
      .react-datepicker__day--in-range,
      .react-datepicker__day--outside-month,
      .react-datepicker__day--disabled,
      .react-datepicker__day--in-selecting-range
    ) {
    color: var(--dp-sunday);
  }
}
.react-datepicker__day--weekend:last-of-type {
  &:not(
      .react-datepicker__day--selected,
      .react-datepicker__day--in-range,
      .react-datepicker__day--outside-month,
      .react-datepicker__day--disabled,
      .react-datepicker__day--in-selecting-range
    ) {
    color: var(--dp-saturday);
  }
}

/* ********************** 지난달 혹은 다음달의 날짜 **********************  */
.react-datepicker__day--outside-month {
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

/* ********************** 선택된 날짜 **********************  */
.react-datepicker__day--selected {
  color: var(--dp-selected-color);
  background-color: var(--dp-accent-color);
}

/* ********************** 선택 불가능한 날짜 **********************  */
.react-datepicker__day--disabled {
  color: var(--dp-disabled-color);
  cursor: not-allowed;
}

/* ********************** Range  **********************  */
// 시작 날짜 (start)
.react-datepicker__day--range-start:not(.react-datepicker__day--range-end) {
  border-radius: 50% 0 0 50%;
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
}
// 중간 영역 (middle)
.react-datepicker__day--in-range:not(
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end
  ) {
  border-radius: 0;
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
}
// 종료 날짜 (end)
.react-datepicker__day--range-end:not(.react-datepicker__day--range-start) {
  border-radius: 0 50% 50% 0;
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
}

// range를 2개의 datepicker로 이용 시 시작 날짜가 먼저 선택되었을 경우, 이를 표시하기 위함
.react-datepicker__day--selecting-range-start.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end {
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
}
// 선택 중인 영역의 시작 날짜 (start)
.react-datepicker__day--selecting-range-start.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--selecting-range-start.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end,
    .react-datepicker__day--in-range
  ) {
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
  border-radius: 50% 0 0 50%;
}
// 선택 중인 영역(middle)
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--selecting-range-start,
    .react-datepicker__day--selecting-range-end
  ) {
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
  border-radius: 0;
}
// 선택 중인 영역의 종료날짜 (end)
.react-datepicker__day--selecting-range-end:not(
    .react-datepicker__day--selecting-range-start,
    .react-datepicker__day--range-start,
    .react-datepicker__day--in-range
  ) {
  background-color: var(--dp-accent-color);
  color: var(--dp-selected-color);
  border-radius: 0 50% 50% 0;
}

/* ********************** 연도 드롭다운 **********************  */
.react-datepicker__header__dropdown {
  display: none;

  /* 2023.11 에서 연도를 클릭하면 연도를 선택할 수 있도록 hacky한 방식 */
  /* position: absolute;
        top: 16px;
        left: 40%;

        .react-datepicker__year-read-view--selected-year {
          opacity: 0;
        } */
  /* 2023.11 에서 연도를 클릭하면 연도를 선택할 수 있도록 hacky한 방식 */

  /* 연도 드롭다운 컨테이너 */
  .react-datepicker__year-dropdown-container.react-datepicker__year-dropdown-container--scroll {
    position: relative;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;

    /* 연도 드롭다운 스크롤 */
    .react-datepicker__year-dropdown.react-datepicker__year-dropdown--scrollable {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      height: 150px;
      overflow: auto;
      border-radius: 4px;
      border: 1px solid #ccc;

      /* 스크롤 스타일 */
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 8px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: #eee;
        border-radius: 4px;
      }

      /* 연도 */
      .react-datepicker__year-option {
        padding: 6px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        &:hover {
          background-color: skyblue;
          color: #fff;

          /* 호버 시 화살표 색상 변경 */
          .react-datepicker__navigation {
            &::after {
              border-color: #fff;
            }
          }
        }
      }

      .react-datepicker__navigation {
        margin: -6px 0;
      }

      /* 선택된 연도 */
      .react-datepicker__year-option--selected_year {
        background-color: skyblue;
        color: #fff;

        .react-datepicker__year-option--selected {
          display: none; // 기본값으로 체크표시가 들어있음
        }
      }

      /* 다가올 연도 */
      .react-datepicker__navigation--years-upcoming {
        position: relative;
        transform: scale(1);
        width: 20px;
        height: 20px;
        border: 2px solid transparent;

        &::after {
          content: '';
          box-sizing: border-box;

          position: absolute;
          bottom: 2px;
          left: 4px;

          width: 10px;
          height: 10px;
          border-top: 2px solid #999;
          border-right: 2px solid #999;
          transform: rotate(-45deg);
        }
      }

      /* 과거 연도 */
      .react-datepicker__navigation--years-previous {
        position: relative;
        transform: scale(1);
        width: 20px;
        height: 20px;
        border: 2px solid transparent;

        &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          top: 2px;
          left: 4px;

          width: 10px;
          height: 10px;
          border-bottom: 2px solid #999;
          border-right: 2px solid #999;
          transform: rotate(45deg);
        }
      }
    }
  }
}
