.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: inset 0px 0px 4px #999;
  }
}
