/* 삼각형의 테두리 너비는(border-width) 삼각형의 모양에 따라 달라짐(ex. 정삼각형 / 이등변삼각형) */
/* 
  1)  이등변 삼각형인 경우(너비:16, 높이:8) 위 꼭지점의 각도는 90°이고, 이의 절반인 45°를 가지므로
      삼각형 테두리의 너비가 1이기 위해서는 √2 만큼 수직이동 되어야 함 (sin45° = 1/√2)
      => 수직/수평 이동 거리 =  border width * √2
  */
/* 
  2)  정삼각형인 경우 각도가 60° 이므로 이의 절반인 30°를 가지므로
      삼각형의 테두리의 너비가 1이기 위해서는 2 만큼 수직이동 되어야 함 (sin30° = 1/2)
      => 수직/수평 이동거리 = border width * 2

  3) 수평/수직 이동거리가 계산이 안될 경우
  => 1. 디자인에서 제공하는 svg를 이용 
  => 2. 눈대중으로 맞추기

  4) 말풍선 꼬리가 둥글게 처리된 경우에는 css로 작업이 불가하므로 svg를 이용하여야 함
  */

// 한 변의 길이가 12인 정삼각형
.equilateral-triangle {
  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  // 배경
  &::before {
    bottom: 2px; // 수직/수평 이동거리 = border width * 2
    border-top: calc(6px * 1.732) solid #fff;
    z-index: 10;
  }

  // 테두리{
  &::after {
    bottom: 0;
    border-top: calc(6px * 1.732) solid #9ca3af;
    z-index: 9;
  }
}

// 이등변 삼각형
.isosceles-triangle {
  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translate(-50%, 100%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  // 배경
  &::before {
    bottom: 1.414px; // 수직/수평 이동 거리 =  border width * √2
    border-top: 8px solid #fff;
    z-index: 10;
  }

  // 테두리{
  &::after {
    bottom: 0;
    border-top: 8px solid #9ca3af;
    z-index: 9;
  }
}

// 수직 이동 거리 계산 안됨
.triangle-example1 {
  &::before,
  &::after {
    position: absolute;
    content: '';
    transform: translateY(100%);
  }

  // 배경
  &::before {
    bottom: 2.3px;
    left: 25px;
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
    z-index: 10;
  }

  // 테두리
  &::after {
    bottom: 0;
    left: 24px;
    border-width: 8px;
    border-style: solid;
    border-color: #9ca3af transparent transparent #9ca3af;
    z-index: 9;
  }
}

// 수직 이동 거리 계산 안됨
.triangle-example2 {
  &::before,
  &::after {
    position: absolute;
    content: '';
    transform: translateY(100%);
  }

  // 배경
  &::before {
    bottom: 2.3px;
    left: 23px;
    z-index: 10;
    border-width: 8px;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
  }

  // 테두리
  &::after {
    bottom: 0;
    left: 24px;
    z-index: 9;
    border-width: 8px;
    border-style: solid;
    border-color: #9ca3af #9ca3af transparent transparent;
  }
}
